ul {
    height: 10rem;
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
        background-color: red;
        padding: 0;
        list-style: none;

        &:not(:first-child) {
            margin-block: .5rem;
        }
    }
}
@media screen and (max-width: 500px) {
    ul {
        height: 15rem;
    }
}